h1{
  width: 90%;
  margin: 50px auto 0;
  text-align: center;
}
.panel-info{
  background-color: azure;
}

.product {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  background-color: #d8edf8;
  color:#31708f;
}

.in-row {
  display: inline-block;
  padding: 0 2%;
  margin: 0 3%;
  width: 15%;
}

.btn-success {
    color: #fff;
    background-color: #347ab7;
    border-color: #357ab7;
    text-align: -webkit-center;
    &:hover{
        background-color: #3d6990;
        border-color: #3d6990;
        text-decoration: none;
    }
}
